
glathida-master/data/T.csv
glathida-master/data/TT.csv
glathida-master/data/TTT.csv
glathida-master/datapackage.json
glathida-master/LICENSE.md
glathida-master/README.md
HYP_50M_SR/HYP_50M_SR.prj
HYP_50M_SR/HYP_50M_SR.README.html
HYP_50M_SR/HYP_50M_SR.tfw
HYP_50M_SR/HYP_50M_SR.tif
HYP_50M_SR/HYP_50M_SR.VERSION.txt
3DGeologicFrame/NCM_GeologicFramework_VersionHistory.txt
3DGeologicFrame/NCM_GeologicFrameworkVolume.nc.gz
3DGeologicFrame/NCM_SpatialGrid.nc
3DGeologicFrame/NETCDF_README.txt
